/* Hide/show authentication panel */
.auth-hidden {
  display: none;
}

button.secondary {
  background: #ddd;
  border-color: #aaa;
  color: #222;
}

button.small {
  padding: 4px 8px;
  font-size: 12px;
}
